Options +FollowSymLinks -MultiViews
RewriteEngine On

RewriteRule \.db$ - [F,L]
RewriteRule ^(config\.php|reset-db\.php|upgrade\.php|\.htaccess)$ - [F,L]
RewriteRule ^_(version_backups|upgrade_tmp)/ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

FallbackResource index.php
